@charset "utf-8";
.tanchuan_180104_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 19;
}
.tanchuan_180104 {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  width: 2.608rem;
  height: 1.956rem;
  text-align: center;
  display: none;
  z-index: 20;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../images/171225lzz_tcliuyan.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.tanchuan_180104_close {
  width: 0.14rem;
  height: 0.14rem;
  float: right;
  margin-right: 0.08rem;
  margin-top: 0.04rem;
  background: url("../images/171225lzz_tcliuyan_close.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  z-index: 21;
}
.tanchuan_180104_form {
  margin: 1.4rem auto;
  width: 2.08rem;
  height: auto;
}
.tanchuan_180104_form input {
  margin-top: 0.06rem;
  width: 2.072rem;
  height: 0.168rem;
  border-radius: 0.04rem;
  font-size: 0.08rem;
  padding: 0.02rem;
  border: none;
  border-image: none;
  display: block;
  box-sizing: border-box;
}
.tanchuan_180104_form input:focus {
  background: #fff;
  -webkit-transform: translate3d(0rem, 0rem, 0);
  -moz-transform: translate3d(0rem, 0rem, 0);
  -ms-transform: translate3d(0rem, 0rem, 0);
  -o-transform: translate3d(0rem, 0rem, 0);
  transform: translate3d(0rem, 0rem, 0);
}
.tanchuan_180104_form input:nth-child(1) {
  padding-left: 0.06rem;
  width: 2.072rem;
}
.tanchuan_180104_form input:nth-child(2) {
  width: 2.072rem;
  background: #fae04d;
}
