.focusBox {
  position: relative;
  width: 7.5rem;
  height: 2.5rem;
  overflow: hidden;
}
.focusBox .pic {
  position: relative;
  z-index: 0;
}
.focusBox .pic img {
  width: 7.5rem;
  height: 2.5rem;
  display: block;
}
.focusBox .hd {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-size: 0;
  z-index: 1;
}
.focusBox .hd li {
  margin: 0 5px;
  background: url(../images/dot.png) no-repeat 0 -16px;
  height: 16px;
  overflow: hidden;
  width: 0.08rem;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  zoom: 1;
  _background: url(../images/dot8.png) no-repeat 0 -0.08rem;
}
.focusBox .hd .on {
  background-position: 0 0;
}
.focusBox .prev,
.focusBox .next {
  width: 60px;
  height: 90px;
  margin: -60px 0 0;
  display: none;
  background: url(../images/ad_ctr.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.focusBox .prev {
  left: 0;
}
.focusBox .next {
  background-position: 0 -90px;
  right: 0;
}
.focusBox .prev:hover,
.focusBox .next:hover {
  filter: alpha(opacity=50) !important;
  opacity: 0.5 !important;
}
/*page7app滚动*/
.picMarquee-left {
  width: 3rem;
  height: 1.78rem;
  overflow: hidden;
  position: relative;
  border: 0.005rem solid #cccccc;
  margin-left: 0.32rem;
  float: left;
  border-radius: 0.06rem;
}
.picMarquee-left .bd {
  padding: 0.08rem;
  height: 1.78rem;
}
.picMarquee-left .bd ul {
  overflow: hidden;
  zoom: 1;
}
.picMarquee-left .bd ul li {
  margin: 0 0.04rem;
  float: left;
  _display: inline;
  overflow: hidden;
  text-align: center;
}
.picMarquee-left .bd ul li .pic {
  text-align: center;
}
.picMarquee-left .bd ul li .pic img {
  width: 12vw;
  height: 22vw;
  display: block;
  padding: 1px;
  border: 0.5px solid #ccc;
}
.picMarquee-left .bd ul li .pic a:hover img {
  border-color: #999;
}
